<!-- MISSION STATEMENT
================================================== -->
<section id="about" class="hero d-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 px-5" id="left-side">
                <div class="row justify-content-start mb-5">
                    <div class="col-12 col-md-8">
                        <h2 class="red-text">MISIÓN</h2>
                        <p class="text-justify">SOMOS UN GRUPO DE ESPECIALISTAS DEDICADOS A CAPACITAR EL TALENTO HUMANO DE LAS EMPRESAS. QUEREMOS QUE DESCUBRAN SU POTENCIAL PCULTO Y ROMPAN LAS BARRERAS QUE IMPIDEN QUE LLEGUEN A ÉL.</p>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-12 col-md-8">
                        <h2 class="yellow-text text-right">VISIÓN</h2>
                        <p class="text-justify">INNOVAR LA ESTRUCTURA ACTUAL DE LOS MODELOS DE CAPACITACIÓN QUE RIGEN A LAS EMPRESAS EN MÉXICO.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 d-flex align-items-center px-5" id="right-side">
                <div>
                    <h1 class="mb-5">¿Quiénes somos?</h1>
                    <div class="text-center">
                        <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" href="#philosophy">
                            <button class="btn btn-tragh-outline btn-lg hvr-grow">conoce más</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- PHILOSOPHY
================================================== -->
<section id="philosophy" class="hero d-flex align-items-center philosophy-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 d-flex align-items-end px-5" id="left-side">
                <div>
                    <h1 class="mb-3">Filosofía</h1>
                    <p class="text-justify">Una destacada investigación para entender el contexto de nuestros clientes, tiene como consecuencia un <strong>excelente servicio personalizado.</strong></p>
                    <p class="text-justify">En Tragh creemos que en cada uno de nosotros existen talentos ocultos, solo necesitamos un guía para encontrar la manera de acceder a este talento de manera consciente. Este guía se encarga de mostrar que un conjunto de acciones bien dirigidas pueden desencadenar <strong>resultados asombrosos.</strong></p>
                    <a href="https://twitter.com/search?q=%23hazloasombroso" target="_blank" rel="external">
                        <h4 class="my-5">#HAZLOASOMBROSO</h4>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-7 px-5" id="right-side">
                <div class="embed-responsive embed-responsive-16by9 mb-5">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/AQYtRdblasg?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <h2 class="blue-text">VALORES</h2>
                <div id="values">
                    <p><i class="fas fa-circle red-text"></i>&nbsp; TEMPLANZA</p>
                    <p><i class="fas fa-circle blue-text"></i>&nbsp; AUTENTICIDAD</p>
                    <p><i class="fas fa-circle yellow-text"></i>&nbsp; RESPONSABILIDAD</p>
                    <p><i class="fas fa-circle orange-text"></i>&nbsp; GRATITUD</p>
                    <p><i class="fas fa-circle green-text"></i>&nbsp; HEROÍSMO</p>
                </div>
            </div>
        </div>
    </div>
</section>
