<!-- COMMUNITY
================================================== -->
<section id="community" class="tragh-services">
    <div class="container my-3">
        <div class="row justify-content-center mt-5 mb-3">
            <h1 class="wow fadeInDown text-center">COMUNIDAD TRAGH</h1>
        </div>
        <div class="row justify-content-center d-flex d-lg-none">
            <div class="col-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item wow fadeIn" width="100%" height="315" src="https://www.youtube.com/embed/AQYtRdblasg?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p class="wow fadeInUp" data-wow-delay="0.1s">En México, muchas de las capacitaciones que se realizan diariamente se ven comprometidas por distintos factores, uno de ellos, por negligencia del instructor. En Tragh, creemos que esto puede cambiar...</p>
            </div>
            <div class="col-12 col-md-8">
                <iframe class="wow fadeIn" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHazloAsombroso%2F&tabs=timeline&width=340&height=450&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <div class="row align-items-start d-none d-lg-flex">
            <div class="col-12 col-lg-4">
                <iframe class="wow fadeIn" data-wow-delay="0.1s" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHazloAsombroso%2F&tabs=timeline&width=340&height=450&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="col-12 col-lg-8">
                <div class="embed-responsive embed-responsive-16by9 mb-3">
                    <iframe class="embed-responsive-item wow fadeIn" data-wow-delay="0.2s" width="100%" height="315" src="https://www.youtube.com/embed/AQYtRdblasg?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p class="wow fadeInUp" data-wow-delay="0.3s">En México, muchas de las capacitaciones que se realizan diariamente se ven comprometidas por distintos factores, uno de ellos, por negligencia del instructor. En Tragh, creemos que esto puede cambiar...</p>
            </div>
        </div>
    </div>
</section>
