<!-- COMMUNITY
================================================== -->
<section id="community" class="hero d-flex align-items-center tragh-services">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-12 col-md-4">
                <h1 class="charjustify">Comunidad</h1>
                <h1 class="mb-5 charjustify">TRAGH</h1>
                <div class="fb-page" data-href="https://www.facebook.com/HazloAsombroso/" data-tabs="timeline" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/HazloAsombroso/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HazloAsombroso/">Tragh Especialistas en capacitación</a></blockquote></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9 mb-5">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/AQYtRdblasg?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <p>En México, muchas de las capacitaciones que se realizan diariamente se ven comprometidas por distintos factores, uno de ellos, por negligencia del instructor. En Tragh, creemos que esto puede cambiar...</p>
            </div>
        </div>
    </div>
</section>
