<!-- PRIVACY
================================================== -->
<section id="privacy" class="d-block d-lg-none">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="wow fadeInLeft text-center mt-4">AVISO DE PRIVACIDAD</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <p class="wow fadeIn text-justify">TRAGH, mejor conocido con la razón social ALAN DAVID CABRERA YAÑEZ, con domicilio en calle San Andrés mz 40 lote 3 B Real de San Pablo, delegación San diego Linares, municipio o delegación Toluca, C.P. 50206, en la entidad de MEX, país México, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:</p>
                <p class="wow fadeIn text-justify">De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>
                <ul class="wow fadeIn">
                      <li>Administrar y operar servicios</li>
                      <li>Registrar base de datos de participantes</li>
                      <li>Enviar programación, actividades y evaluación del curso</li>
                      <li>Mercadotecnia o publicidad</li>
                      <li>Prospección comercial</li>
                </ul>
                <p class="wow fadeIn text-justify">En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted nos puede comunicar lo anterior a través del siguiente mecanismo: por medio de una cita previa antes del curso o llamada telefónica La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
                <p class="wow fadeIn text-justify">Para conocer mayor información sobre los términos y condiciones en que serán tratados sus datos personales, como los terceros con quienes compartimos su información personal y la forma en que podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral por medio de correo electrónico.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p class="text-right wow fadeInRight">Fecha de última actualización<br> <b>{{ mes }} {{ anio }}</b> </p>
            </div>
        </div>
    </div>
</section>
<section id="privacy" class="hero d-none d-lg-flex align-items-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 d-flex align-items-center" id="left-side">
                <h1 class="wow fadeInLeft">AVISO DE PRIVACIDAD</h1>
            </div>
            <div class="col-12 col-md-8 d-flex align-items-center py-4" id="right-side">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <p class="wow fadeIn" data-wow-delay="0.1s">TRAGH, mejor conocido con la razón social ALAN DAVID CABRERA YAÑEZ, con domicilio en calle San Andrés mz 40 lote 3 B Real de San Pablo, delegación San diego Linares, municipio o delegación Toluca, C.P. 50206, en la entidad de MEX, país México, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:</p>
                        <p class="wow fadeIn" data-wow-delay="0.2s">De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención:</p>
                        <ul class="wow fadeIn" data-wow-delay="0.3s">
                              <li>Administrar y operar servicios</li>
                              <li>Registrar base de datos de participantes</li>
                              <li>Enviar programación, actividades y evaluación del curso</li>
                              <li>Mercadotecnia o publicidad</li>
                              <li>Prospección comercial</li>
                        </ul>
                        <p class="wow fadeIn" data-wow-delay="0.4s">En caso de que no desee que sus datos personales sean tratados para estos fines secundarios, desde este momento usted nos puede comunicar lo anterior a través del siguiente mecanismo: por medio de una cita previa antes del curso o llamada telefónica La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
                        <p class="wow fadeIn" data-wow-delay="0.5s">Para conocer mayor información sobre los términos y condiciones en que serán tratados sus datos personales, como los terceros con quienes compartimos su información personal y la forma en que podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral por medio de correo electrónico.</p>
                    </div>
                    <div class="col-md-11">
                        <p class="text-right wow fadeInRight">Fecha de última actualización <b>{{ mes }} {{ anio }}</b> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
