<!-- MODAL WINDOW
================================================== -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title blue-text" id="exampleModalLabel">Events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6">
                        <div class="card">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                <h5 class="card-title">¡Esto no es coaching!</h5>
                                <p class="card-text text-justify">Esta es nuestra declaración oficial en contra de los modelos coaching que estafan y abusan de la gente mediante “ENTRENAMIENTOS” DE SUPERACIÓN PERSONAL, LIDERAZGO Y EMPRENDIMIENTO, el 25 de mayo daremos inicio al ciclo de conferencias y foros.</p>
                                <div class="text-center">
                                    <a [routerLink]="['/eventos','EstoNoEsCoaching']">
                                        <button class="btn btn-tragh btn-sm btn-block hvr-grow" type="button" data-dismiss="modal">ver más</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- EVENTS
================================================== -->
<section id="events" class="d-block d-md-none tragh-services">
    <div class="container-fluid py-5" id="description">
        <div class="row">
            <div class="col-12">
                <h1 class="text-left wow fadeInLeft">EVENTS</h1>
                <p class="text-justify wow fadeIn" data-wow-delay="0.25s">En esta sección podrás encontrar la información sobre los diferentes programas que realizaremos para el público en general.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-tragh-outline btn-sm hvr-grow wow fadeInUp" data-wow-delay="0.5s" data-toggle="modal" data-target=".bd-example-modal-lg">
            ver eventos
            </button>
        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-right wow fadeInRight">¡Originales de Tragh producidos y dirigidos para ti!</h2>
            </div>
        </div>
    </div>
</section>
<section id="events" class="hero d-none d-md-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-8" id="left-side">
                <h2 class="wow fadeInLeft">¡Originales de Tragh producidos y dirigidos para ti!</h2>
            </div>
            <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1 class="wow fadeInDown" data-wow-delay="0.25s">EVENTS</H1>
                    <p class="text-justify wow fadeIn" data-wow-delay="0.5s">En esta sección podrás encontrar la información sobre los diferentes programas que realizaremos para el público en general.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow wow fadeInUp" data-wow-delay="1s" data-toggle="modal" data-target=".bd-example-modal-lg">
                        ver eventos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
