<!-- MODAL WINDOW
================================================== -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title blue-text" id="exampleModalLabel">Events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In amet sapiente quasi doloremque, officia nam iure officiis est quisquam nihil. Soluta dolore molestiae fugit pariatur ea, adipisci quis, non porro hic! Unde totam quis doloremque, cum est quas dicta, ducimus doloribus mollitia modi alias ut veniam. Magni voluptates libero, a ipsam, quos molestiae architecto rem unde optio ullam veritatis minus sed eos. Qui nostrum similique accusantium accusamus nihil iusto, cum quam iure aut. Hic molestias obcaecati unde quisquam eius minima ipsum temporibus ducimus similique explicabo ullam autem consequatur officiis a eos dicta placeat, nam perspiciatis. Accusantium est rerum magnam sapiente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- EVENTS
================================================== -->
<section id="events" class="d-block d-md-none tragh-services">
    <div class="container-fluid py-5" id="description">
        <div class="row">
            <div class="col-12">
                <h1 class="text-left wow fadeInLeft">EVENTS</h1>
                <p class="text-justify wow fadeIn" data-wow-delay="0.5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem officiis, nisi magni non ratione voluptates et excepturi tenetur corporis saepe facilis, cum quia aut odit neque, fugit. Esse dolore voluptates sequi fugiat enim quisquam nemo numquam id quae ab optio deleniti praesentium quo quos, nulla quas explicabo magni, ad dicta.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-tragh-outline btn-sm hvr-grow wow fadeInUp" data-wow-delay="1s" data-toggle="modal" data-target=".bd-example-modal-lg">
            ver temas
            </button>
        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-right wow fadeInRight">Lorem ipsum dolor sit amet.</h2>
            </div>
        </div>
    </div>
</section>
<section id="events" class="hero d-none d-md-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-8" id="left-side">
                <h2 class="wow fadeInLeft">Lorem ipsum dolor sit.</h2>
            </div>
            <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1 class="wow fadeInDown" data-wow-delay="0.5s">EVENTS</H1>
                    <p class="text-justify wow fadeIn" data-wow-delay="1s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto velit, consequuntur consequatur? Quia in, odit, illo molestias cum, veritatis ducimus rem modi dolores eius id laborum consectetur blanditiis. Cupiditate quae magni, porro dolores quaerat consequatur odit sequi minima facilis repudiandae ratione provident exercitationem omnis deleniti dicta ducimus eveniet quo aut!</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow wow fadeInUp" data-wow-delay="1.5s" data-toggle="modal" data-target=".bd-example-modal-lg">
                        ver temas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
