<!-- INTRO
================================================== -->
<section id="intro" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-1 text-center">¡Adéntrate en lo Asombroso!</h1>
        </div>
        <div class="row justify-content-center">
            <a href="">
                <button class="btn btn-tragh btn-lg hvr-grow">conoce más</button>
            </a>
        </div>
    </div>
</section>
