<!-- MODAL WINDOW
================================================== -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title orange-text" id="exampleModalLabel">CONSULTANT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <h6>Servicios</h6>
                    <li class="orange-text"><strong>Investigación y estudios de mercado</strong></li>
                    <li>Naming y registro de marca</li>
                    <li>Plan de marketing</li>
                    <li>Activaciones BTL</li>
                    <li>Estrategias de posicionamiento de mercado</li>
                    <li>Progamas de lealtad</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- CONSULTANT
================================================== -->
<section id="consultant" class="hero d-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-8" id="left-side">
                <h2 class="wow fadeInLeft">INVESTIGACIÓN Y ESTUDIOS DE MERCADO.</h2>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1 class="wow fadeInDown" data-wow-delay="0.5s">CONSULTANT</H1>
                    <p class="text-justify wow fadeIn" data-wow-delay="1s">Área destinada a detectar en el mercado, aquellas <strong>situaciones que tengan altas probabilidades de ser rentables para nuestros clientes.</strong> Con ello se pretende que los productos y servicios de nuestros clientes cuenten con un valor agregado y que a su vez generen oportunidades de negocio en momentos de crisis.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow wow fadeInUp" data-wow-delay="1.5s" data-toggle="modal" data-target="#exampleModal">
                        ver temas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
