<!-- MODAL WINDOW
================================================== -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title red-text" id="exampleModalLabel">TRAINER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="trainer-modal"> <!-- style="column-count: 3;" -->
                <ol>
                    <h6>Metahumanos</h6>
                    <li>Balance Emocional</li>
                    <li>Adiós estrés</li>
                    <li>Innovación y creatividad</li>
                    <li>Branding personal</li>
                    <li>Imagen pública</li>
                    <li>Comunicación sertiva</li>
                    <li class="red-text"><strong>Cómo hablar en público</strong></li>

                    <h6>Líderes</h6>
                    <li>Inteligencia en los negocios</li>
                    <li>Estrategias en los negocios</li>
                    <li>Negociaciones creativas</li>
                    <li>Presentaciones ejecutivas</li>
                    <li class="red-text"><strong>Liderazgo disruptivo</strong></li>
                    <li>Liderazgo de proyectos</li>
                    <li>Equipos de 10</li>
                    <li>Sinergia y trabajo en equipo</li>
                    <li>Empowerment for her</li>
                    <li>Empowerment for him</li>
                    <li>Empowerment for us</li>
                    <li>Adiós crisis</li>

                    <h6>P.O.P.</h6>
                    <li>Servicio y atención al cliente</li>
                    <li>Servicio y atención telefónico</li>
                    <li>Neuroventas</li>
                    <li class="red-text"><strong>Neuromarketing</strong></li>
                    <li>Mercadotecnia sensorial</li>
                    <li>Activaciones BTL</li>
                    <li>El nuevo consumidor y su comportamiento</li>
                    <li>Relaciones públicas remunerables</li>

                    <h6>Clima organizacional</h6>
                    <li>Soy capacitador</li>
                    <li>Selección de talentos</li>
                    <li>Administración de talentos</li>
                    <li>Retención de talentos</li>
                    <li class="red-text"><strong>Satisfacción organizacional</strong></li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- TRAINER
================================================== -->
<section id="trainer" class="d-block d-md-none tragh-services">
    <div class="container-fluid py-5" id="description">
        <div class="row">
            <div class="col-12">
                <h1 class="text-left wow fadeInLeft">TRAINER</h1>
                <p class="text-justify wow fadeIn" data-wow-delay="0.25s">El objetivo de esta área es generar un contenido de herramientas que doten a los líderes de proyectos y su personal, de las competencias específicas para resolver las problemáticas que envuelven a sus negocios; con estrategias y tácticas provenientes de las siguientes líneas de <strong>conferencias, simposios, cursos, diplomados y talleres.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-tragh-outline btn-sm hvr-grow wow fadeInUp" data-wow-delay="0.5s" data-toggle="modal" data-target=".bd-example-modal-lg">
            ver temas
            </button>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-right wow fadeInRight">EL MEJOR ALIADO PARA RECURSOS HUMANOS.</h2>
            </div>
        </div>
    </div>
</section>
<section id="trainer" class="hero d-none d-md-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-8" id="left-side">
                <h2 class="wow fadeInLeft">EL MEJOR ALIADO PARA RECURSOS HUMANOS.</h2>
            </div>
            <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1 class="wow fadeInDown" data-wow-delay="0.25s">TRAINER</H1>
                    <p class="text-justify wow fadeIn" data-wow-delay="0.5s">El objetivo de esta área es generar un contenido de herramientas que doten a los líderes de proyectos y su personal, de las competencias específicas para resolver las problemáticas que envuelven a sus negocios; con estrategias y tácticas provenientes de las siguientes líneas de <strong>conferencias, simposios, cursos, diplomados y talleres.</strong></p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow wow fadeInUp" data-wow-delay="1s" data-toggle="modal" data-target=".bd-example-modal-lg">
                        ver temas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
