<!-- NAV BAR
================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['/inicio']">
        <img src="assets/img/navbar-logo.png" width="30" height="30" alt="tragh-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-around">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/inicio']">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SERVICIOS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/servicios','trainer']">Trainer</a>
                    <a class="dropdown-item" [routerLink]="['/servicios','consultant']">Consultant</a>
                    <a class="dropdown-item" [routerLink]="['/servicios','entrepreneur']">Entrepreneur</a>
                    <a class="dropdown-item" [routerLink]="['/servicios','events']">Events</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/comunidad']">COMUNIDAD</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/nosotros']">NOSOTROS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/contacto']">CONTACTO</a>
            </li>
        </ul>
    </div>
</nav>
