<!-- MODAL WINDOW
================================================== -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title green-text" id="exampleModalLabel">ENTREPRENEUR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <h6>Conferencias, sinopsios, cursos, diplomados y talleres</h6>
                    <li>Vamos a emprender</li>
                    <li>Vamos a emprender para <strong class="green-text">niños</strong></li>
                    <li class="green-text"><strong>Emprendimiento con impacto social</strong></li>
                    <li>Emprendimiento con impacto social para <strong class="green-text">niños</strong></li>
                    <li>Administración de PyMES</li>
                    <li>Mercadotecnia y publicidad para PyMES</li>
                    <li>Recursos humanos para PyMES</li>
                    <li>Social media para PyMES</li>
                    <li>Registro de marca</li>
                    <li>Registro de patente</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- ENTREPRENEUR
================================================== -->
<section id="entrepreneur" class="d-block d-md-none tragh-services">
    <div class="container-fluid py-5" id="description">
        <div class="row">
            <div class="col-12">
                <h1 class="text-left wow fadeInLeft">ENTREPRENEUR</h1>
                <p class="text-justify wow fadeIn" data-wow-delay="0.25s">Área dedicada a <strong>transformar las ideas de los emprendedores en modelos de negocio</strong> con una propuesta de valor rentable, que impacten de manera positiva a la sociedad y medio ambiente.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-tragh-outline btn-sm hvr-grow wow fadeInUp" data-wow-delay="0.5s" data-toggle="modal" data-target="#exampleModal">
            ver temas
            </button>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="text-right wow fadeInRight">EMPRENDIMIENTO CON IMPACTO SOCIAL.</h2>
            </div>
        </div>
    </div>
</section>
<section id="entrepreneur" class="hero d-none d-md-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-8" id="left-side">
                <h2 class="wow fadeInLeft">EMPRENDIMIENTO CON IMPACTO SOCIAL.</h2>
            </div>
            <div class="col-12 col-md-5 col-lg-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1 class="wow fadeInDown" data-wow-delay="0.25s">ENTREPRENEUR</H1>
                    <p class="text-justify wow fadeIn" data-wow-delay="0.5s">Área dedicada a <strong>transformar las ideas de los emprendedores en modelos de negocio</strong> con una propuesta de valor rentable, que impacten de manera positiva a la sociedad y medio ambiente.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow wow fadeInUp" data-wow-delay="1s" data-toggle="modal" data-target="#exampleModal">
                        ver temas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
