<!-- MODAL WINDOW
================================================== -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title green-text" id="exampleModalLabel">ENTREPRENEUR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <h6>Conferencias, sinopsios, cursos, diplomados y talleres</h6>
                    <li>Vamos a emprender</li>
                    <li>Vamos a emprender para <strong class="green-text">niños</strong></li>
                    <li class="green-text"><strong>Emprendimiento con impacto social</strong></li>
                    <li>Emprendimiento con impacto social para <strong class="green-text">niños</strong></li>
                    <li>Administración de PyMES</li>
                    <li>Mercadotecnia y publicidad para PyMES</li>
                    <li>Recursos humanos para PyMES</li>
                    <li>Social media para PyMES</li>
                    <li>Registro de marca</li>
                    <li>Registro de patente</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tragh btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- ENTREPRENEUR
================================================== -->
<section id="entrepreneur" class="hero d-flex align-items-center tragh-services">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-8" id="left-side">
                <h2>EMPRENDIMIENTO CON IMPACTO SOCIAL.</h2>
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center px-3" id="right-side">
                <div>
                    <H1>ENTREPRENEUR</H1>
                    <p class="text-justify">Área dedicada a <strong>transformar las ideas de los emprendedores en modelos de negocio</strong> con una propuesta de valor rentable, que impacten de manera positiva a la sociedad y medio ambiente.</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-tragh-outline hvr-grow" data-toggle="modal" data-target="#exampleModal">
                        ver temas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
