<!-- ESTO NO ES COACHING
================================================== -->
<section id="event" class="tragh-services">
    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-12 col-md-8">
                <h1 class="text-center red-text pt-5 pb-3 wow fadeInDown">¡Esto No Es Coaching!</h1>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-lg-8">
                        <p class="text-justify wow fadeIn">Hace más de 60 años el coaching inició en Estados Unidos y después se posicionó en el resto del mundo. en sus primeros años esta metodología tenía un noble propósito, su objetivo era hacer que las personas maximizaran su desarrollo profesional y personal. De ahí se desarrollaron varios estilos de esta iniciativa para sus diferentes audiencias y objetivos.</p>
                        <p class="text-justify wow fadeIn">Ahora en esta década el concepto general de coaching se ha deformado gracias a varias asociaciones que parecería que lo único que buscan es estafar y enganchar a sus clientes mediante cursos o "entrenamientos" de superación personal, liderzgo y emprendimiento.</p>
                    </div>
                    <div class="col-12 col-md-8 col-lg-4">
                        <img src="assets/img/coaching-1.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInRight">
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-md-8 col-lg-4 order-2 order-lg-1">
                        <img src="assets/img/coaching-4.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInLeft">
                    </div>
                    <div class="col-12 col-lg-8 order-1 order-lg-2">
                        <p class="text-justify wow fadeIn">La gran problemática en éste contexto se encuentra en que el coaching no está acreditado por ningún organismo, institución nacional o internacional que brinde validez y respalde la información de sus coaches, esto significa que tenemos personas sin preparación profesional con absoluta libertad para impartir cursos con principios disfrazados de psicología, consultoría empresarial, clima organizacional, educación y mercadotecnia.</p>
                        <p class="text-justify wow fadeIn">Éste tipo de programas afecta a la gente que ha pasado o está enfrentando alguna crisis. La meta de los "entrenamientos" es reducir la capacidad de discernimiento, pensamiento crítico y disruptivo de su audiencia.</p>
                    </div>
                </div>
                <p class="text-justify wow fadeIn">Revistas especializadas han publicado reciéntemente artículos de investigación donde muestran la realidad de cómo trabajan estos grupos y los daños que han generado en sus participantes, nosotros en Tragh decidimos tomar acción y hacer una declaración oficial de guerra contra los grupos estafadores de coaching, <strong>durante el mes de Mayo daremos inicio a un ciclo de conferencias donde hablaremos sin censura sobre los engaños y modos de operar de estas sectas,</strong> estamos en contra de sus prácticas, procesos de enseñanza, de todo lo que profesan y representan.</p>
                <p class="text-justify wow fadeIn">El mejor consejos que le podemos dejar a nuestros clientes, colegas, familia y amigos es que acudan con gente profesional, capacitada y certificada; con psicólogos, con mercadólogos, con consultores empresariales y con emprendedores reales.</p>
                <h6 class="text-center my-4 wow zoomIn">¡Somos especialistas en capacitación y esto no es coaching!</h6>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-md-7 col-lg-8">
                        <img src="assets/img/coaching-5.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInLeft">
                    </div>
                    <div class="col-12 col-md-5 col-lg-4">
                        <img src="assets/img/coaching-2.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInRight">
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-12 col-md-5 col-lg-4">
                        <img src="assets/img/coaching-3.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInLeft">
                    </div>
                    <div class="col-12 col-md-7 col-lg-8">
                        <img src="assets/img/coaching-6.jpg" alt="tragh-esto-no-es-coaching" class="img-fluid my-3 wow fadeInRight">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5 py-3 px-lg-3 sticky-top wow fadeIn" id="event-info">
                <h6 class="mb-4 text-center text-md-left">¡Esto no es coaching!</h6>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="far fa-calendar"></i></span>
                        Fecha: 25 de Mayo
                    </li>
                    <li><span class="fa-li"><i class="fa fa-clock-o"></i></span>
                        Horario: 20:00hrs
                    </li>
                    <li><span class="fa-li"><i class="fas fa-hourglass-half"></i></span>
                        Duración: 90 minutos
                    </li>
                    <li><span class="fa-li"><i class="fa fa-map-marker"></i></span>
                        Ubicación: pendiente
                    </li>
                    <li><span class="fa-li"><i class="fa fa-usd"></i></span>
                        Inversión: pendiente
                    </li>
                </ul>
                <a href="assets/events/Esto_No_Es_Coaching.ics" download>
                    <button type="button" class="btn btn-tragh btn-block btn-sm">agendar evento</button>
                </a>
            </div>
        </div>
    </div>
</section>
